@using Entity_Layer.Concrete
@model List<Writer>
@foreach (var item in Model)
{
    <li class="nav-header">

        <div class="dropdown profile-element">
            <img alt="image" class="rounded-circle" src="@item.WriterImage" />
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="block m-t-xs font-bold">@item.WriterName</span>
                <span class="text-muted text-xs block">Software Developer <b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a class="dropdown-item" href="/Login/LogOut">Logout</a></li>
            </ul>
        </div>
    </li>
}
